@font-face {
    font-family: 'Verdana';
    src: url('../assets/fonts/Verdana-Bold.woff2') format('woff2'),
        url('../assets/fonts/Verdana-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Verdana';
    src: url('../assets/fonts/Verdana-Italic.woff2') format('woff2'),
        url('../assets/fonts/Verdana-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Verdana';
    src: url('../assets/fonts/Verdana.woff2') format('woff2'),
        url('../assets/fonts/Verdana.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    margin: 0;
    overflow: hidden;
}

/*  =============  Table of Contents  ==============  */

/*General*/
/*Popup*/
/*Home*/

/*  =============  TOC ==============  */



/*General*/
h1, h2, h3, p {
  margin: 0;
}




/*Popup*/
.popup {
  height: 1080px;
  width: 1920px;
  position: relative;
  transition: box-shadow 1s;
  background-color: white;
}

.popup_hero {
  background-image: url('../assets/img/popup.jpg');
  background-size: cover;
  position: absolute;
  height: 100%;
  width: 100%;
  background-position: 0 -192px;
  z-index: 0;
  transition: filter 3s;
}

.grey {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.popup img {
  height: 180px;
  width: auto;
  background: white;
  padding: 20px;
  display: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 445px;
  transition: margin 1s, padding 1s, height 1s;
}

.popup .welcome {
  color: #CCC;
  font-size: 20px;
  text-align: center;
  position: absolute;
  top: 600px;
  text-transform: uppercase;
  letter-spacing: 3px;
  display: none;
  left: 50%;
  transform: translateX(-50%);
}

.shadow {
    box-shadow: 0px 0px 15px #00000026;
    z-index: 2;
}




/*Home*/
.home {
  margin-top: -148px;
  display: none;
}

.home .vid {
  width: 1656px;
  position: absolute;
  right: 0;
  z-index: -1;
  top: 149px;
}

#video {
  position: absolute;
  top: 280px;
  right: 584px;

}

.home aside {
  height: 100vh;
  background: white;
  width: 265px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.qr {
  width: 44px;
  margin-right: 11px;
}

.home .nav {
  font-size: 20px;
  padding: 30px;
  border-bottom: 1px solid #ccc;
  width: 77%;
  transition: background-color .5s, color .5s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home .nav:hover {
  background-color: #7f2a91;
  color: white;
}

.home .nav:first-child {
  font-size: 20px;
  padding: 30px;
  border-top: 1px solid #ccc;
  width: 77%;
  text-align: center;
}

.content_holder {
  position: absolute;
  height: 932px;
  width: 1656px;
  background: #ffffffc9;
  left: 266px;
  top: 148px;
  display: none;
  color: #555;
  justify-content: center;
  align-items: center;
}

.content_holder .content {
  width: 1000px;
  text-align: center;
}

.share p {
  margin-bottom: 35px;
}

.share input {
  padding: 15px 30px;
  border: 1px solid #555;
  width: 300px;
  font-size: 20px;
  display: block;
  margin: auto;
  margin-bottom: 20px;
}

.share input:focus {
  outline-color: #7f2a91;
  outline: 1px;
}

.share .button {
  letter-spacing: 3px;
  width: 154px;
  background-color: #7f2a91;
  color: white;
  font-weight: bold;
}

.content p {
  line-height: 1.6;
  font-size: 20px;
}

.content_holder i {
    position: absolute;
    top: 117px;
    color: #7f2a91;
    transform: scale(1.5);
    border: 1px solid purple;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}







